.counter-holder{
    background: #000;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1.5rem;
}

.counter{
    color: #fff;
    border: 1px solid #fff;
    padding: 1.5rem;
}


